.container{
    position: relative;
}
.allcate+.container #menu .navbar-collapse,.allcate+#menu .navbar-collapse{
    margin-left:209px;
}
/*common all cate*/
.allcate+.navbar-header+.navbar-collapse{
    margin-left:210px;
}
.allcate.navbar{
    border-right:none;
    position: absolute;
    z-index: 9999;
    left: 14px;
    top: -1px;
}
.allcate .navbar-nav>li{
    float: none;
    display: block;
    width:210px;
    position: static;
    padding-left:1px;
}

.allcate.navbar .allcate-title+.nav.navbar-nav{
    background-color:#B61D1D;
    border-bottom:1px solid #B61D1D;
    display: none;
    height:411px;
}
.allcate.hover .allcate-title+.nav.navbar-nav{
    display: block;
}

.allcate.home-hover .allcate-title+.nav.navbar-nav{
    display: block;
}

.allcate-title{
    height:42px;
    line-height: 42px;
    background: #B1191A;
    color:#fff;
    text-indent:1.2em;
    font-weight: 600;
    cursor: pointer;
    border-top-left-radius:5px;
    position: relative;
}
.allcate-title a{
    color:#fff;
}
.allcate-title span{
    font-size:24px;
    position: absolute;
    top:8px;
    right:10px;
    text-indent: 0;
    transition: all 0.1s ease-in;
}

.allcate .navbar-nav>li>.dropdown-menu{
    position: absolute;
    left:208px;
    top:1px;
    width: 930px;
    min-height:412px;
    margin-top:41px;
    box-shadow: none;
    border:1px solid #B61D1D;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    z-index: 1;
}
.allcate .dropdown-inner ul{
    padding-top:10px;
}
.allcate .dropdown-inner li{
    padding:0;
    text-align: center;
    clear:both;
    margin:0px 0 5px 0px;
    float:left;
}
.allcate .dropdown-inner li.open a:hover{
    background: none;
}
.allcate .dropdown-inner li a{
    width:auto;
    margin:0 10px;
    min-width: 0;
    color:#666;
    padding-left:20px;
    padding-right:0;
    font-size:12px;
}
.allcate .dropdown-inner dl dt{
    float:left;
    width:120px;
    margin-right:20px;
    text-align: left;
    position:relative ;
}
.allcate .dropdown-inner dl dt a i{
    position: absolute;
    right:0;
    top:5px;
}
.allcate .dropdown-inner dl dd{
    float:left;
    width:780px;
    text-align: left;
}
.allcate .dropdown-inner dl dd a{
    padding: 0 8px;
    margin: 4px 0;
    line-height: 16px;
    display: inline;
    height: 16px;
    border-left: 1px solid #e0e0e0;
    white-space: nowrap;
}

.allcate .nav .open>a,.allcate .nav .open>a:focus,.allcate .nav .open>a:hover{
    background: none;
}
.allcate .dropdown-inner a:hover{
    background: none;
    color:#B61D1D;

}


.allcate .collapse {
    padding-right: 0;
    padding-left: 0;
}
.allcate+.collapse.navbar-collapse{
    margin-left:210px;
    border-left:none;
}

.allcate .nav > li > a:hover,
.allcate .nav > li.open > a{
    background: #fff;
    color:#B61D1D;
    border-right:none;
    position: relative;
    z-index: 10;
}

/*blue cate*/
.blue.allcate.navbar .allcate-title+.nav.navbar-nav{
    background-color:#23a1d1;
    border-bottom:1px solid #145e7a;
}
.blue .allcate-title{
    background: #145e7a;
    color:#fff;
}
.blue.allcate .navbar-nav>li>.dropdown-menu{
    border:1px solid #145e7a;
}
.blue.allcate .dropdown-inner li a{
    color:#666;
}
.blue.allcate .dropdown-inner dl dd a{
    border-left: 1px solid #e0e0e0;
}
.blue.allcate .dropdown-inner a:hover{
    color:#145e7a;
}
.blue.allcate .nav > li > a:hover,
.blue.allcate .nav > li.open > a{
    background: #fff;
    color:#145e7a;
}
/*end blue cate*/



/*red cate*/
.red.allcate.navbar .allcate-title+.nav.navbar-nav{
    background-color:#B61D1D;
    border-bottom:1px solid #B61D1D;
}
.red.allcate-title{
    background: #B1191A;
    color:#fff;
}
.red.allcate .navbar-nav>li>.dropdown-menu{
    border:1px solid #B61D1D;
}
.red.allcate .dropdown-inner li a{
    color:#666;
}
.red.allcate .dropdown-inner dl dd a{
    border-left: 1px solid #e0e0e0;
}
.red.allcate .dropdown-inner a:hover{
    color:#B61D1D;

}
.red.allcate .nav > li > a:hover,
.red.allcate .nav > li.open > a{
    background: #fff;
    color:#B61D1D;
}
/*end red cate*/


/*green cate*/
.green.allcate.navbar .allcate-title+.nav.navbar-nav{
    background-color:#3ea600;
    border-bottom:1px solid #3a9900;
}
.green .allcate-title{
    background: #2d8800;
    color:#fff;
}
.green.allcate .navbar-nav>li>.dropdown-menu{
    border:1px solid #3a9900;
}
.green.allcate .dropdown-inner li a{
    color:#666;
}
.green.allcate .dropdown-inner dl dd a{
    border-left: 1px solid #e0e0e0;
}
.green.allcate .dropdown-inner a:hover{
    color:#2d8800;

}
.green.allcate .nav > li > a:hover,
.green.allcate .nav > li.open > a{
    background: #fff;
    color:#2d8800;
}
/*end green cate*/

/*orange cate*/
.allcate.orange .navbar-nav>li{
    width:224px;
}
.orange.allcate.navbar .allcate-title+.nav.navbar-nav{
    background-color:#fff;
    border:1px solid #ddd;
    border-top:0;
    height:450px;
}
.orange .allcate-title{
    background: #f60;
    color:#fff;
    width:226px;
}
.orange.allcate .navbar-nav>li>.dropdown-menu{
    width:915px;
    min-height:450px;
}
.orange.allcate .navbar-nav>li>.dropdown-menu{
    left:224px;
 }
.orange.allcate .cate-box{
    position: relative;
    padding:10px 0;
}
.orange.allcate .cate-box h3{
    font-size:16px;
    margin:0;
    padding-left:45px;
}
.orange.hover.allcate .dropdown .cate-box,.orange.home-hover.allcate .dropdown .cate-box{
    border:1px solid transparent;
    border-right:none;
    position: relative;
    left:-2px;
    z-index:100;
    width:225px;
}

.orange.hover.allcate .dropdown.open .cate-box,.orange.home-hover.allcate .dropdown.open .cate-box{
    border:1px solid #f60;
    border-right:none;
    background: #fff;
}
.orange.allcate .cate-box img{
    position: absolute;
    left:10px;
}
.orange.allcate .sub-cate{
    width:170px;
    height:20px;
    overflow: hidden;
    margin-left:40px;
}
.orange.allcate .sub-cate a{
    margin-right:5px;
    color:#c4c4c4;
}
.orange.allcate .sub-cate a:hover{
    color:#f60;
}
.orange.allcate h3 a,.orange.allcate h3 a:visited {
    color:#545454;
}
.orange.allcate .navbar-nav>li>.dropdown-menu{
    border:1px solid #f60;
}
.orange.allcate .dropdown-inner{
    width:100%;
}
.orange.allcate .dropdown-inner li a{
    color:#666;
}
.orange.allcate .dropdown-inner dl dd{
    border-bottom:1px solid #eee;
    padding-bottom:5px;
    width: 470px;
    height:25px;
    line-height: 25px;
}
.orange.allcate .dropdown-inner .list-unstyled{
    float:left;
    width:67%;
}
.orange.allcate .dropdown-inner .brands{
    float:right;
    width:30%;
    border-left:1px solid #eee;
    min-height:410px;
    padding-left:3%;
}
.orange.allcate .dropdown-inner .brands h5{
    position: relative;
    font-size:16px;
    font-weight:600;
}
.orange.allcate .dropdown-inner .brands h5 a{
    position: absolute;
    right:0px;
    min-width:80px;
    top:2px;
    font-weight:500;
    font-size:12px;
}
.orange.allcate .dropdown-inner .brands .brands-list a{
    display: inline-block;
    min-width:100px;
    width:110px;
    height:100px;
    text-align: left;
    padding: 0;
    margin-top:5px;
}
.orange.allcate .dropdown-inner dl dt a{
    text-align: left;
}
.orange.allcate .dropdown-inner dl dt a i{
    right: 95px;
    top: 5px;
}
.orange.allcate .dropdown-inner dl dd a{
    border-left: none;
}
.orange.allcate .dropdown-inner a:hover{
    color:#f60;

}
.orange.allcate .nav > li > a:hover,
.orange.allcate .nav > li.open > a{
    background: #fff;
    color:#f60;
}
/*end orange cate*/






/*all sort*/
.list .categories a:hover,.list .categories a.hover, .list .categories a.selected {
    background: #337ab7;
    color: #fff;
    text-decoration: none;
}
.list .categories{
    margin-bottom:20px;
    position: relative;
}
.list .categories #allSortTab{
    padding-bottom:10px;
    background: #fff;
    width:100%;
}
.list .categories a {
    float: left;
    display: inline-block;
    padding: 7px 20px;
    margin-top: 6px;
    margin-right: 8px;
    background: #ddd;
    color: #000;
    font-size: 14px;
    white-space: nowrap;
}
.list .categories a:active{

}
.categories .fix-categories{
    position: fixed;
    top:0;
    z-index: 999;
}

.category-items h2{
    margin:0;
    font-size:14px;
    font-weight:600;
}
.category-items .col{
    float:left;
    width:50%;
    padding:0 15px;
}
.category-items .panel-body dl{
    float:left;
    width:100%;
}
.category-items .panel-body dl a:hover{
    color: #337ab7;
}
.category-items .panel-body dt{
    float:left;
    text-align: left;
    width:15%;
}
.category-items .panel-body dt a{
    color:#333;
}
.category-items .panel-body dd{
    float:left;
    margin-left:5%;
    width:80%;
}
.category-items .panel-body dd a{
    margin:0 5px;
    color:#666;
}

/*media fix screen*/
@media (max-width: 1920px) {
    .m-allcate{
        display:none;
    }
}
@media (max-width: 768px) {
    .allcate+.collapse.navbar-collapse{
        margin-left:0;
    }
    .allcate-title{
        background: transparent;
    }
    #menu{
        margin-top:45px;
        line-height: 40px;
        height:40px;
    }
    .m-allcate{
        display:block;
        width:100%;
        margin-bottom:10px;
        position: absolute;
        top:-40px;
    }
    .m-allcate a{
        text-align: left;
    }
    .category-items .col{
        width:100%;
    }
}